<h2>{{client.name}}</h2>
<table class="headers-left">
  <tbody>
  <tr>
    <th>
      E-mail:
    </th>
    <td>
      <a href="/client/{{client.email}}">{{client.mail}}</a>
    </td>
  </tr>
  <tr>
    <th>
      Name:
    </th>
    <td>
        {{client.name}}
    </td>
  </tr>
  <tr>
    <th>
      date:
    </th>
    <td>
        {{client.nextContactAt}}
    </td>
  </tr>
  {{#if client.notes}}
  <tr>
    <th>
      notes:
    </th>
    <td>
      {{client.notes}}
    </td>
  </tr>
  {{/if}}
  </tbody>
</table>

<form action="/client/form/edit/{{client.id}}">
  <button type="submit">Edit client</button>
</form>
<p>
  {{> go-to-clients}}
</p>